body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    color: #d80027;
    margin-bottom: 20px;
}

footer {
    margin-top: 50px;
}

.navbar-brand img {
    height: 50px;
}

.navbar-nav .nav-link {
    color: #ffffff !important;
}

.navbar-nav .nav-link:hover {
    color: #d80027 !important;
}
